<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LambdaTest ecommerce playground website test suite ">
    <test name="Page Factory demo tests using LambdaTest ECommerce Playground" enabled="false">
        <classes>
            <class name="io.github.mfaisalkhatri.tests.LambdaTestEcommercePlaygroundTests">
                <methods>
                    <include name="testLoginWithFindBy"/>
                    <exclude name="testLoginWithFindBys"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Page Factory demo tests using LambdaTest Selenium Playground">
        <classes>
            <class name="io.github.mfaisalkhatri.tests.SeleniumPlaygroundTests">
                <methods>
                    <exclude name="testMenus"/>
                    <exclude name="testSimpleFormPage"/>
                    <include name="testMaleRadioBtnSelection"/>
                    <exclude name="testInputFormDemo"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->